
<tr>
    <td><img width="200" src="@Model.PhotoURL" /></td>
    
    <td>
        <a href="/admin/photo/delete/@Model.Id">
            <button class="btn btn-danger">Delete</button>
        </a>
    </td>
</tr>
