<form method="post" enctype="multipart/form-data">
    <div class="col-5" enctype="multipart/form-data">
        <img src="@Model.PhotoURL" class="img-fluid" />
        <input type="hidden" name="OldPhoto" value="@Model.PhotoURL" />
        <input type="file" name="Image" />
       

        <input class="btn btn-success btn-sm" type="submit" value="Edit" />
    </div>
    
</form>
