<form method="post" class="ml-5 mr-5">
    <p>Help</p>
<input class="form-control" type="text" name="Help" placeholder="Help" />
<p>Description</p>
<input class="form-control" type="text" name="Description" placeholder="Description" />
 <p>Info</p>
<input class="form-control" type="text" name="Info" placeholder="Info" />
<p>Number</p>
<input class="form-control" type="text" name="Number" placeholder="Number" />


 <input class="form-control mb-3 mt-5" type="submit" value="Create" />

</form>