
<tr>
    <td>@Model.Help</td>
    <td>@Html.Raw(Model.Description)</td>
    <td>@Model.Info</td>
    <td>@Model.Number</td>
    <br />
    
    <td>
        <a href="/admin/skil/delete/@Model.Id">
            <button class="btn btn-danger">Delete</button>
        </a>
    </td>
</tr>
