<form method="post" class="ml-5 mr-5">
    <p>Title</p>
<input class="form-control" type="text" name="Title" placeholder="Title" />
<p>Description</p>
<input class="form-control" type="text" name="Description" placeholder="Description" />
<p>Info</p>
<input class="form-control" type="text" name="Info" placeholder="Info" />
<p>Photo</p>
 <input class="form-control" type="text" name="PhotoURL" />



 <input class="form-control mb-3 mt-5" type="submit" value="Create" />

</form>